@font-face{
    font-family: Fuentedigital;
    src: url(../font/Gameplay.ttf);
}

@font-face{
    font-family: Bienvenido;
    src: url(../font/REFUSETR.TTF);
}

@font-face{
    font-family: Nombres;
    src: url(../font/High-Amelliya.ttf)
}